@media only screen and (min-width: 1250px), (min-width: 1050px) and (max-width: 1250px) {
  html {
    font-size: 16px;
  }
  html body {
    margin: 0px;
  }
  html body * {
    margin: 0px;
    padding: 0px;
  }
  html div#meitu div.meitu-header {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 30.5rem;
    background-image: url(image/meitu-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  html div#meitu div.meitu-header nav {
    max-width: 75rem;
    width: 100%;
    height: 5.625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html div#meitu div.meitu-header nav div.first a img {
    width: 6.6875rem;
    height: 1.875rem;
  }
  html div#meitu div.meitu-header nav a.i-link {
    display: none;
  }
  html div#meitu div.meitu-header nav div.second-i-link {
    display: none;
  }
  html div#meitu div.meitu-header nav div.second {
    height: 100%;
    width: 43.5rem;
  }
  html div#meitu div.meitu-header nav div.second a,
  html div#meitu div.meitu-header nav div.second span {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #FFF8FE;
  }
  html div#meitu div.meitu-header nav div.second a {
    display: inline-block;
    height: 100%;
    line-height: 90px;
  }
  html div#meitu div.meitu-header nav div.second div.item {
    height: 100%;
    float: left;
  }
  html div#meitu div.meitu-header nav div.second div.item:not(:nth-last-of-type(1)) a {
    padding: 0 28px;
  }
  html div#meitu div.meitu-header nav div.language {
    justify-self: flex-end;
  }
  html div#meitu div.meitu-header nav div.language a,
  html div#meitu div.meitu-header nav div.language span {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #CEB7E7;
    transition: color 0.5s;
  }
  html div#meitu div.meitu-header nav div.language a:hover,
  html div#meitu div.meitu-header nav div.language span:hover {
    color: #FFF8FE;
    font-weight: bold;
  }
  html div#meitu div.meitu-header nav div.language a.selected {
    font-weight: bold;
    color: #FFF8FE;
  }
  html div#meitu div.meitu-header nav div.l-language {
    display: none;
  }
  html div#meitu div.meitu-header div.div-nav {
    width: 100%;
    position: relative;
  }
  html div#meitu div.meitu-header div.div-nav nav div.second:hover div a {
    color: black;
  }
  html div#meitu div.meitu-header div.div-nav nav div.second:hover div.menu-div-second {
    height: 20.25rem;
    transition: height 0.5s;
  }
  html div#meitu div.meitu-header div.div-nav nav div.second div.item {
    position: relative;
    z-index: 501;
  }
  html div#meitu div.meitu-header div.div-nav nav div.second div.item:hover > div.little-menu::before {
    width: 35%;
    transition: width 0.5s;
  }
  html div#meitu div.meitu-header div.div-nav nav div.second div.item:hover > div.little-menu {
    height: 14rem;
    transition: height 0.5s;
  }
  html div#meitu div.meitu-header div.div-nav nav div.menu-div-second {
    position: absolute;
    height: 0px;
    width: 100%;
    background-color: white;
    top: 90px;
    left: 0px;
    z-index: 500;
  }
  html div#meitu div.meitu-header div.div-nav nav div.little-menu {
    position: absolute;
    width: 100%;
    height: 0;
    background-color: white;
    top: 60px;
    z-index: 501;
  }
  html div#meitu div.meitu-header div.div-nav nav div.little-menu::before {
    position: absolute;
    content: '';
    background-color: #F53267;
    width: 0;
    height: 0.3125rem;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    z-index: 502;
  }
}
@media only screen and (max-width: 1050px) {
  html {
    font-size: 16px;
  }
  html body {
    margin: 0px;
  }
  html body * {
    margin: 0px;
    padding: 0px;
  }
  html body div#meitu div.meitu-header {
    display: block;
    margin: 0px auto;
    width: 100%;
    height: 33.75rem;
    background-image: url(image/meitu-background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  html body div#meitu div.meitu-header div.div-nav {
    width: 100%;
    height: 100%;
  }
  html body div#meitu div.meitu-header div.div-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.first a img {
    width: 4.5625rem;
    height: 1.25rem;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.first {
    order: 2;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.language {
    display: none;
  }
  html body div#meitu div.meitu-header div.div-nav nav a.i-link {
    order: 1;
    margin-left: 1.25rem;
    text-decoration: none;
  }
  html body div#meitu div.meitu-header div.div-nav nav a.i-link:active + div.second {
    display: flex;
  }
  html body div#meitu div.meitu-header div.div-nav nav i.link {
    font-size: 2.5rem;
    color: white;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.i2 {
    order: 3;
    width: 2.5rem;
    height: 2.5rem;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 18.125rem;
    bottom: 0px;
    background-color: white;
    top: 0px;
    justify-content: space-around;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.item-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 1;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.item-list div.item {
    flex-grow: 1;
    text-align: center;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.item-list div.item a {
    text-decoration: none;
    color: black;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.l-language {
    text-align: center;
    flex-shrink: 2;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.l-language a,
  html body div#meitu div.meitu-header div.div-nav nav div.second div.l-language span {
    text-decoration: none;
    color: #CEB7E7;
  }
  html body div#meitu div.meitu-header div.div-nav nav div.second div.l-language a.selected {
    color: black;
  }
}
/*# sourceMappingURL=./course-clss1050.css.map */