@font-face {
  font-family: "iconfont"; /* Project id 2528801 */
  src: url('iconfont.woff2?t=1620282469066') format('woff2'),
       url('iconfont.woff?t=1620282469066') format('woff'),
       url('iconfont.ttf?t=1620282469066') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanqiu:before {
  content: "\e6c7";
}

